# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node
node_modules/
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native/Android/iOS
android/app/debug.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.iml
*.hprof
.cxx/
.idea/
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.xcuserstate
**/.xcode.env.local
**/Pods/

# Metro
.metro-health-check*

# fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/vendor/bundle/

# macOS
.DS_Store
*.pem

# local env files
.env*

# typescript
*.tsbuildinfo

# VSCode
.vscode/

# Logs
*.log

# Ignore PDF tickets (if generated locally)
public/*.pdf
